<!DOCTYPE html>
<html>
  <head>
    <title>FantasyBaseballRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  </body>
  <div id="modal-holder"></div>
  <div class="body-container">
    <%= render 'layouts/header' %>

    <% if @responsive_sidebar_content %>
      <%= render 'shared/responsive_body_sidebar' %>
    <% else %>
      <%= render 'shared/body' %>
    <% end %>
  </div>
</html>
